@use "src/styles/01 abstracts/variables";
@mixin btn-accent {
  background: $accent;
  border-radius: 16px;
  border: none;
  padding: 0.95rem 1.75rem;
  color: var(--light-text);
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  width: 100%;
  max-width: 400px;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: transform ease-in-out 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
