@use "../01-abstracts/variables" as *;
@use "../01-abstracts/mixins" as *;
@use "../02-base/animations" as *;
@use "../02-base/typography" as *;

.footer-container {
  @include section;
  padding: 1rem, 0;
  background-color: $background-primary-color;
  border-top: 1px solid $border-color;
  @include flex(c, center, around);
  @include respond-to("large") {
    @include flex(r, around, start);
  }

  .logo-wrapper {
    width: $logo-width-small;
    height: auto;
    @include respond-to("large") {
      width: $logo-width-medium;
    }
    // @include respond-to("xlarge") {
    //   width: $logo-width-large;
    // }
  }
  .footer-content {
    @include flex(r, around, start);
    gap: 1rem;
    padding-top: 2rem;

    @include respond-to("large") {
      padding-top: 0;
      gap: 20%;
    }

    .footer-nav-container {
      .nav-title {
        @include accented-heading;
      }
      .nav-wrapper {
        @include reset-list;
        @include flex(c, start, start);

        .nav-item {
          // TODO Assign transition to hover links
          &:hover {
            color: $accent-color;
          }
          a {
            @include standout-text;
          }
        }
      }
    }
    .contact-list {
      @include reset-list;
      @include flex(c, around, start);
      gap: 1rem;
    }
  }
}
