// ******************* variables *******************

// ********* font *********
$base-font-size: 18px;

// ********* colour *********
$background-colour: #ffffff;
$base-text-colour: #f7f7f7;
$accent: #4b74be;
// ********* sizing *********
$content-max-width: 75rem;
// ********* button *********
$button-colour: $accent;
// ********* animation *********

// ********* shadows *********
