// ******************* variables *******************

// ********* colour *********
$background-colour: #ffffff;
$background-colour-secondary: #f7f7f7;
$base-text-colour: rgba(76, 75, 74, 1);
$base-text-colour-light: rgba(76, 75, 74, 0.3);
$accent: rgb(75, 116, 190);
$accent-light: rgba(75, 116, 190, 0.2);
$accent-text: rgba(255, 255, 255, 1);
$secondary: $base-text-colour;
$secondary-text: $background-colour;
$svg-stroke-light: rgba(255, 255, 255, 1);
// ********* sizing *********
$content-max-width: 1850px;
$content-side-padding: 24px;
$logo-width-large: 355px;
$logo-width-medium: 228px;
$logo-width-small: 153px;
// ********* button *********
$button-colour: $accent;

// ********* borders *********
$img-border-round: 1rem;

// ********* shadows *********
