// ******************* variables *******************
@use "sass:color";
@use "colors" as *;
@use "functions" as *;
// ********* color *********

// Main Colors
$primary-color: #22577a;
$secondary-color: #38a3a5;
$accent-color: #57cc99;

// Background Colors
$background-color: #ffffff;
$background-primary-color: color.scale(
  $primary-color,
  $lightness: 95%,
  $saturation: -90%
);
$background-secondary-color: color.scale($secondary-color, $lightness: 90%);

// Text Colors
$text-color: #333333;
$heading-color: $primary-color;
$text-primary-color: #ffffff;
$text-secondary-color: #ffffff;
$text-accent-color: #ffffff;

// Link Colors
$link-color: #007bff;
$link-hover-color: #0056b3;

// Border Colors
$border-color: #ced4da;
$border-hover-color: #6c757d;

// Error/Success/Warning Colors
$error-color: #dc3545;
$success-color: #28a745;
$warning-color: #ffc107;

//NOTE: Need to manually choose colors based on readability and accessibility ratio

// old variables
$background-colour: #ffffff;
$background-colour-secondary: #f7f7f7;
$base-text-colour: $text-secondary-color;
$base-text-colour-light: rgba(76, 75, 74, 0.3);
$accent-light: rgba(75, 116, 190, 0.2);
$accent-text: rgba(255, 255, 255, 1);
$secondary: $base-text-colour;
$secondary-text: $background-colour;
$svg-stroke-light: rgba(255, 255, 255, 1);
// ********* sizing *********
$content-max-width: 1850px;
$content-side-padding: 24px;
$logo-width-large: 355px;
$logo-width-medium: 228px;
$logo-width-small: 153px;

// ********* borders *********
$img-border-round: 1rem;

// ********* shadows *********
