@use "../01-abstracts/variables" as *;
@use "../01-abstracts/mixins" as *;
@use "../02-base/typography" as *;

$btn-round: 0.5rem;

//styling for an anchor tag to look like a btn
@mixin btn {
  text-align: center;
  border-radius: $btn-round;
  border: 0;
  text-transform: capitalize;
  display: block;
  transition: transform ease-in-out 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  //responsive sizing
  font-size: $base-font-size;
  font-weight: 600;
  width: 148px;
  height: 56px;
  &.long {
    width: 170px;
  }
  @include respond-to("large") {
  }
  .btn-content-wrapper {
    @include flex(c, center, center);
    width: 100%;
    height: 100%;
  }
}

@mixin btn-accent {
  @include btn;
  background-color: $accent;
  color: $accent-text;
}

@mixin btn-secondary {
  @include btn;
  background-color: $secondary;
  color: $secondary-text;
}

.btn-accent {
  // @include link;
  text-align: center;
  border-radius: $btn-round;
  border: 0;
  background: $accent;
  color: $accent-text;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.6rem 1.5rem;
  display: block;
  transition: transform ease-in-out 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
