@use "../01-abstracts/variables" as *;
@use "../01-abstracts/mixins" as *;

$info-icon-width: 40px;
$info-icon-height: 40px;
$info-icon-padding: 8px;

.info-container {
  @include flex(r, center, center);
  gap: 1rem;
  .icon-container {
    @include circle;
    background-color: $accent;
    color: $accent-text;
    width: $info-icon-width;
    height: $info-icon-height;
    padding: $info-icon-padding;
    fill: $accent-text;
  }
  svg {
    stroke: $svg-stroke-light;
    fill: $svg-stroke-light;
  }
  span,
  a {
    font-weight: 600;
  }
  &:nth-child(1),
  &:nth-child(2) {
    border-right: 1px solid $base-text-colour-light;
    padding-right: 1rem;
  }
}
