@use "../01-abstracts/variables" as *;
@use "../01-abstracts/mixins" as *;
@use "../02-base/typography" as *;

.title-flair {
  @include title-flair;
}

.section-heading {
  padding-top: 8px;
}
.section-heading-wrapper-left {
  text-align: left;
}
.section-heading-wrapper-center {
  text-align: center;
}
