@use "../01-abstracts/variables" as *;
@use "../01-abstracts/mixins" as *;

$base-font-size: 16px;

$h1-small: 24px;
$h1-large: 32px;
$h1-xlarge: 35px;
$h1-huge: 40px;
$h2-small: 24px;
$h2-large: 28px;
$h2-xlarge: 32px;
$title-flair-small: 20px;
$title-flair-large: 24px;
$standout-text-small: 18px;
$standout-text-large: 20px;
$standout-text-xlarge: 20px;
$text-paragraph: $base-font-size;
$text-paragraph-large: 20px;

$title-flair: $title-flair-small;
$standout-text: $standout-text-small;

@mixin bolded {
  font-weight: 700;
  line-height: 120%;
}

h1 {
  @include bolded;
  font-size: $h1-small;
  padding-bottom: 1rem;
  @include respond-to("large") {
    font-size: $h1-large;
  }
  @include respond-to("xlarge") {
    font-size: $h1-xlarge;
  }
  @include respond-to("huge") {
    font-size: $h1-huge;
  }
}
h2 {
  @include bolded;
  font-size: $h2-small;
  @include respond-to("large") {
    font-size: $h2-large;
  }
}

.title-flair {
  @include bolded;
  color: $primary-color;
  font-size: $title-flair-small;
  @include respond-to("large") {
    font-size: $title-flair-large;
  }
  &.secondary {
    color: $secondary-color;
  }
  &.accent {
    color: $accent-color;
  }
}

.section-text {
  @include bolded;
  line-height: 150%;
  font-size: $standout-text-small;
  padding-bottom: 1rem;
}

@mixin standout-text {
  @include bolded;
  line-height: 150%;
  font-size: $standout-text-small;
  padding-bottom: 1rem;
}

@mixin accented-heading {
  @include bolded;
  color: $accent-color;
  display: block;
  padding-bottom: 0.5rem;
}

@mixin text-paragraph {
  font-size: $text-paragraph;
  line-height: 150%;
}

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
