@use "../01-abstracts/variables" as *;
@use "../01-abstracts/mixins" as *;

$base-font-size: 16px;

$h1-small: 24px;
$h1-large: 48px;
$h2-small: 24px;
$h2-large: 40px;
$title-flair-small: 20px;
$title-flair-large: 24px;
$standout-text-small: 18px;
$standout-text-large: 20px;
$text-paragraph: $base-font-size;
$text-paragraph-large: 20px;

$h1: $h1-small;
$h2: $h2-small;
$title-flair: $title-flair-small;
$standout-text: $standout-text-small;

@mixin bolded {
  font-weight: 700;
  line-height: 120%;
}
h1 {
  @include bolded;
  font-size: $h1-small;
  padding-top: 1rem;
}
h2 {
  @include bolded;
  font-size: $h2-small;
}
@mixin title-flair {
  @include bolded;
  font-size: $title-flair-small;
  color: $accent;
  @include respond-to("large") {
    font-size: $title-flair-large;
  }
}

@mixin standout-text {
  @include bolded;
  line-height: 150%;
  font-size: $standout-text-small;
  padding: 1rem 0;
}
@mixin accented-heading {
  @include bolded;
  color: $accent;
  display: block;
  padding-bottom: 0.5rem;
}
@mixin text-paragraph {
  font-size: $text-paragraph;
  line-height: 150%;
}
@include respond-to("large") {
  h1 {
    font-size: $h1-large;
  }
  h2 {
    font-size: $h2-large;
  }
}
body {
  color: $base-text-colour;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: $base-font-size;
}

@include respond-to("medium") {
  $h1: $h1-large;
  $h2: $h2-large;
  $title-flair: $title-flair-large;
  $standout-text: $standout-text-large;
  $text-paragraph: $text-paragraph-large;
}
