---
import "../styles/index.scss";
import NavHeader from "@components/header/navHeader.svelte";
import Footer from "@components/footer/footer.svelte";
import Logo from "@images/samplecontractor.svelte";
const { title, metaDescription } = Astro.props;
---

<script>
  import { navOpen } from "src/stores";
  // on mobile nav menu scroll-lock will prevent touch scrolling
  navOpen.subscribe((open) => {
    if (open) {
      document.body.classList.add("scroll-lock");
    } else {
      document.body.classList.remove("scroll-lock");
    }
  });
  //should you resize with the mobile nav open
  function handleResize() {
    if (window.innerWidth > 1024) {
      document.body.classList.remove("scroll-lock");
      navOpen.set(false);
    }
  }
  window.addEventListener("resize", handleResize);
  window.addEventListener("scroll", () => {
    document.documentElement.dataset.scroll = `${window.scrollY}`;
  });
</script>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <NavHeader client:load>
      <Logo slot="logo" />
    </NavHeader>
    <main class="header-offset">
      <slot />
    </main>
    <!-- Footer -->
    <Footer> <Logo /> </Footer>
  </body>
</html>
